*,
*::before,
*::after {
  margin: 0;
}
body {
  background-color: #999;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 0 1.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-group > label {
  color: #777;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(200, 100%, 40%);
}

.container {
  padding: 2rem;
}
.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.card {
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  padding: 0.3rem;
  position: relative;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transition: 100ms;
  transform-style: preserve-3d;
}
.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.card.flip {
  --rotate-y: 180deg;
  left: 0;
}
.card .front {
  transform-style: preserve-3d;
}
.card .back {
  transform: rotateY(180deg);
}
.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
.card__options {
  margin-top: 0.5rem;
}

.card__options {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.9rem;
}

.card__options:first-child {
  margin-top: 0;
}
